@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*==================css variables==============*/
:root{
    --white-color: #fff;
    --dark-color: #222;
    --body-bg-color: #fff;
    --section-bg-color: #202834;
    --navigation-item-hover-color:#3b5378 ;

    --text-shadow:0 5px 25px rgba(0,0,0,0.1) ;
    --box-shadow: 0 5px 25px rgba(0 0 0 / 20%);

    --scroll-bar-color: #fff;
    --scroll-thumb-color:#282f4e ;
    --scroll-thumb-hover-color:#454f6b ;
}

/*================Scroll bar=====================*/
::-webkit-scrollbar{
    width: 11px;
    background-color: var(--scroll-bar-color);

}
::-webkit-scrollbar-thumb{
    width: 100%;
    background: var(--scroll-thumb-color);
    border-radius: 2em;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--scroll-thumb-hover-color);
}
/*================Main css=====================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: var(--body-bg-color);
}
  

html{
    scroll-behavior: smooth;
   
}
section{
    position: relative;
}

.section{
    color: var(--white-color);
    background: var(--body-bg-color);
    padding: 35px 200px;
    transition: 0.3s ease;
}
/*================header=====================*/
header{
    z-index: 999;
    position: fixed;
    width: 100%;
    height: calc(5rem + 1rem);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
    transition-property: height,background;

}
header.sticky{
    height: calc(2.5rem + 1rem);
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}

header .nav-bar{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    transition: 0.3s ease;
}
.nav-close-btn, .nav-menu-btn{
    display: none;
}
.nav-bar .logo{
    color: var(--white-color);
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}
.navigation .nav-items a{
    color: var(--white-color);
    font-size: 1em;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}
.navigation .nav-items a i{
    display: none;
}
.navigation .nav-items hr{
    display: none;
}


.navigation .nav-items a:not(:last-child){
    margin-right: 45px;
}


.nav-menu-btn{
    color: transparent;
}
/*================home=====================*/ 

.home{
    min-height: 100vh;
}

.home:before{
    z-index: 888;
    content: '';
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent, var(--section-bg-color));
}


/*=============background slider================*/
.bg-slider{
    z-index: 777;
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.bg-slider .swiper-slide{
    position: relative;
    width: 100%;
    height: 100vh;
}
.bg-slider .swiper-slide img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    pointer-events: none;
}
.swiper-slide .text-content{
    font-size: 30px;
    position: absolute;
    top: 40%;
    color: var(--white-color);
    margin:  0 200px;
    transition: 0.3s ease;
}
.swiper-slide .text-content .title{
    font-size: 4em;
    font-weight: 700;
    text-shadow: var(--text-shadow);
    margin-bottom: 20px;
    transform: translateY(-50px);
    opacity: 0;
    color: rgb(255, 253, 251);
    
}

.swiper-slide-active .text-content .title{
    transform: translateY(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;

}


.swiper-slide .text-content .title span{
    font-size: 0.3em;
    font-weight: 300;
}
.swiper-slide .text-content p{
   
    
    max-width: 700px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    text-shadow: var(--text-shadow);
    padding: 20px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(255,255,255,0.1);
    box-shadow: var(--box-shadow);
    transform: translateX(-80px);
    opacity: 0;
}

.swiper-slide-active .text-content p{
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.dark-layer:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(0,0,0,0.2);
}

/*================media icons===============*/

.media-icons{
    z-index: 9990;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 90px;
}
.media-icons a{
    color: var(--white-color);
    font-size: 1.7em;
    margin: 10px 0;
}

/*================about section========================*/
.about h2{
    font-size: 3em;
    font-weight: 600;
    color: #202834;
    
}
.about p{
    margin: 25px 0;
    color: #202834;

}
.about{
   background:rgb(245, 245, 232);
   width: 100%;
  
}
.about-part2{
    background: #202834;
    padding: 0 20px 20px 20px;
}
.about-part2 h3{
    font-size: 2em;
    text-align: center;
   padding-top: 20px;
}
.about-part2 p{
    color: #fff;
    
}



/*=======================our services=======================*/


.our-services{
    background: rgb(245, 245, 232);
    padding: 50px 12%;
    font-size: 22px;
}
.row{
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col img{
    display: block;
    width: 90%;
    margin: auto;
}
.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.btn{
    border: none;
    outline: none;
    width: 150px;
    
    background: #202834;
    color: var(--white-color);
    font-size: 1em;
    font-weight: 500;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    border-radius: 10px;
    cursor: pointer;
}
.btn .explore{
    padding: 8px 25px;
    color:var(--white-color);
    text-decoration: none;
    text-align: center;
    justify-content: center;
    
}

.btn:hover{
    background: rgb(152, 149, 149);
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 3rem -1rem;
    cursor: pointer;
   
}

/*==========================contact section======================*/
.contact{
    margin: 10px;
    padding: 20px;
    background:var(--white-color);
}
.contact-row{
    display: flex;
}
.contact .container h1{

    font-size: 40px;
 }
.contact-left{
    flex-basis: 60%;
}
.contact-right{
    flex-basis: 40%;
}
.contact-right h2{
    font-size: 25px;
    color: #363232
}
.contact-left p{
    margin: 20px;
}
.contact-left p i{
    color: #202834;
    margin-right: 15px;
    font-size: 25px;
}
.contact-social-icons{
    margin-top: 10px;
}
.contact-social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:#202834;
    display: inline-block;
    transition: transform 0.5s;
}
.contact-social-icons a :hover{
    color: rgb(152, 149, 149);
    transform: translateY(-5px);
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #202834;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color:  rgb(152, 149, 149);
}
.copyright p{
    color: var(--white-color);
}

/*=================media queries(max-width:1100px)=============*/
@media screen and (max-width:1100px) {
    header .nav-bar{
       padding: 0 50px;
       
    }

    .section{
        padding: 25px 50px;
    }
    .media-icons{
        right: 0;
        margin-right: 50px;
    }
    .swiper-slide .text-content{
        font-size: 15px;
        margin: 0 120px 0 50px;
    }
    .bg-slider-thumbs{
        bottom: 3em;
    }
    .about{
        width: 100%;
    }
    .about-part1 h2{
        font-size: 2.5em;
        
    }
    
    .about-part2 h2{
        font-size: 2em;
    }

}

/*==================media queries (max-width:785px=======*/
@media screen and (max-width:785px){
    header .nav-bar{
        padding: 25px 20px;
    }

    .section{
        padding: 25px 20px;
    }
    .media-icons{
        
        margin-right: 20px;
    }
    .media-icons a{
        font-size: 1.5em;
    }
    .swiper-slide .text-content{
        margin: 0 70px 0 20px;
    }
    .swiper-slide .text-content .title{
        font-size: 3em;
    }
    .swiper-slide .text-content .title span{
        font-size: 0.35em;
    }
    .swiper-slide .text-content p{
        font-size: 0.9em;
    }
    .our-services{
        padding-top: 20px;
        padding-bottom: 0;
    }
    .our-services .row{
        display: flex;
    }
    .row:nth-child(1){
        flex-direction: column-reverse;
    }
    .our-services .row .img-col {
       flex-basis: 100%;
    }
    .our-services .row .text-col{
       flex-basis: 100%;
    }

    .our-services h2{
        font-size: 30px;
    }
    .our-services p{
        font-size: 15px;
    }
    .btn{
        padding: 4px 4px;
    }



    .contact-row{
        display: block;
    }
    .contact .container h1{
        font-size: 2em;
    }
    .contact-left p{
        font-size: 15px;
    }
    .contact-left p i{
        font-size: 20px;
    }
    .contact-right h2{
        padding-top: 10px;
        font-size: 20px;
        
    }
    .contact-right .contact-social-icons a i{
         font-size: 25px;
    }


    .copyright{
        width: 100%;
        text-align: center;
        padding: 10px 0;
        background: #202834;
        font-weight: 200;
        margin-top: 20px;
        font-size: small;
    }

    /*=========navigation menu==========*/
    .nav-menu-btn{
        display: block;
        color: var(--white-color);
        font-size: 1.5em;
        cursor: pointer;
        
    }
    .nav-close-btn{
         display: block;
         color: var(--dark-color);
         position: absolute;
         top: 0;
         right: 0;
         font-size: 1.3em;
         margin: 10px;
         padding: 20px;
         cursor: pointer;
         transition: 1.3s ease;
         
         
    }
    

    .navigation .nav-items hr{
        display: block;
    }
    .navigation{
        z-index:99999;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease;
    }

    .navigation.active{
        visibility: visible;
        opacity: 1;
    }

    .navigation .nav-items{
        position: relative;
        background: var(--white-color);
        width: 400px;
        max-width: 400px;
        display: grid;
        place-content: center;
        margin: 20px;
        padding: 40px;
        border-radius: 20px;
        box-shadow: var(--box-shadow);
        transform: translateY(-200px);
        transition: 0.5s ease;
    }

    .navigation.active .nav-items{
        transform: translateY(0);
    }
    .navigation .nav-items a{
        color: var(--dark-color);
        font-size: 1em;
        margin: 15px 50px;
        transition: 0.3s ease;
    }

    .navigation .nav-items a:hover{
        color: rgb(152, 149, 149);
        
    }
    .navigation .nav-items a i{
        display: inline-block;
        font-size: 1.3em;
        margin-right: 5px;
        

    }
    body.active-nav{
        overflow: hidden;
    }


    /*============about section================*/
    .about {
      
        height: 100vh;
        display: inline;
       
    }
    .about-part1{
        margin: 20px;
        padding: 20px;
        margin-bottom: 0;
    }
    .about-part1 h2{
       
        font-size: 2.5em;
        
    }
    .about-part1 p{
        font-size: 15px;
    }
    .about-part2{
        margin: 40px;
        margin-top: 0;
       
    }
    .about-part2 h3{
        font-size: 1.5em;
    }

    .about-part2 p{
        font-size: 15px;
        
    }
    
    .about{
        background: beige;
     }
     
}




/*================hierhometutor page===========*/
